/*========style for wsp Ecotic Animal=========*/

/*=======all content===========*/

body {
	font-family: 'Marcellus', serif;
	max-width: 996px;
	margin: 0 auto;
	padding: 0;
	background-color: #a08462; 
	background-image: url("../images/fur.png");
	color: #794a28;
	}

.pcenter {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center; 
	}

h1 {
	margin: 0;
	text-indent: -990000px;	
	}

h2, h3, h4 {
	font-family: 'Caesar Dressing', cursive;
	color: #133062;
	font-size: 1.8em;
	text-align: center;
	}
	
.container {
		background-color: rgba(170, 172, 178, 0.8);
	}

	

footer { 
	color: #aaacb1;
	padding-top: 35px;
	padding-bottom: 15px;
	padding-left, padding-right: 20px;
	background-color: #133062;
	}


/*========Header============*/

header {
	background-color: #aaacb1;
	}


header img {
	margin-top: -50px;
	}
	
header a:link {
	padding-top: 50px;
	text-decoration: none; 
	color: #133062;  
	outline: none;	
} 

header a:visited {
	color: #133062; 
}

header a:hover {
	color: #794a28;
	text-decoration: underline; 
}

header a:active {
	color: #133062; 
}	
	

.topnav li {
		display: inline
	}
	
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
		display: block;
		







/*==========Main Content=========*/









/*==========footer================*/