/*========style for wsp Ecotic Animal=========*/

/*=======all content===========*/



body {
	font-family: 'Marcellus', serif;
	max-width: 996px;
	margin: 0 auto;
	padding: 0;
	background-color: #a08462; 
	background-image: url("../images/fur.png");
	color: #794a28;
	}

.pcenter {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center; 
	}

h1 {
	margin: 0;
	text-indent: -990000px;	
	}

h2, h3, h4 {
	font-family: 'Caesar Dressing', cursive;
	color: #133062;
	font-size: 1.8em;
	text-align: center;
	}
	
.container {
		background-color: rgba(170, 172, 178, 0.8);
	}

footer { 
	color: #aaacb1;
	padding-top: 35px;
	padding-bottom: 15px;
	padding-left, padding-right: 20px;
	background-color: #133062;
	
	}


/*========Header============*/

header {
	background-color: #aaacb1;
	border-bottom: solid 2px #133062;
	}

header img {
	float: left;
	margin-top: -50px;
	}
	
/*====== nav ======*/


.bt ul li{
	float:left;
	margin: 0;
	padding: 0;
	list-style:none;
	font-family: 'Caesar Dressing', cursive;
	}

.bt li a {
	display:block;
	padding-left: 10px;
	line-height: 2.5em;
	color:#133062;
	}


.bt li a:visted {
	color: #133062;
}

.bt li a:hover {
	color: #794a28;
}

.bt li a:active; {
	color: #f7e71e;
}

li{
	position:relative;
	font-size: 1em;
	}

ul.submenu {
	float:none;
	position:absolute;
	left:-9000em;
	z-index:1;
	width:150px;
	background-color: #aaacb1;
	border-bottom: solid 2px #133062;
	}

.topmenu li:hover ul{
	left:0;
	}   

ul.submenu li {
	float:none;
	font-size: 1em;
	position:relative;
	}










/*==========Main Content=========*/









/*==========footer================*/