/*========style for wsp Ecotic Animal=========*/

/*=======all content===========*/


body {
	background-image: url(images/fur.png);
	}
	
.wrapper {
	color: "";
	}





/*========Header============*/


h1 {
	margin: 0;
	text-indent: -990000px;	
	}


.topnav li {
		display: inline
	}
	
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
		display: block;
		







/*==========Main Content=========*/











/*==========footer================*/